<style>
    .tab-content {
      display: none;
      padding: 20px;
      margin-top: 10px;
      border: 1px solid #ddd;
    }
    .active-tab {
      display: block;
    }
    .nav-tabs .nav-link.active {
      color: #fff; /* Change the color to your preference */
      background-color: #007bff; /* Change the background color to your preference */
    }
  </style>
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="#">Home</a></li>
      <li class="breadcrumb-item active" aria-current="page">Reference</li>
    </ol>
  </nav>
  

  <ul class="nav nav-tabs">
    <li class="nav-item"><a class="nav-link" href="#comtab">Books</a></li>
    <li class="nav-item"><a class="nav-link" href="#cattab">Category</a></li>
    <li class="nav-item"><a class="nav-link" href="#subctab">Sub category</a></li>

  </ul>
  <!-- Company -->
  <div id="comtab" class="tab-content active-tab">
    <h2>Books</h2>
    <p>This is the content of Tab 1.</p>
    <div th:insert="@{view/books/bookfrom.html}"></div>
  </div>
  <!-- Item -->
  <div id="cattab" class="tab-content">
    <h2>Main Category</h2>
  
    </div>
  </div>
  <!-- end -->
  <div id="subctab" class="tab-content">
    <h2>Tab 3 Content</h2>
   
  </div>
 
  
  
  <script>
    $(document).ready(function() {
      // Show the default tab or the tab specified in the URL hash
      showTab(window.location.hash || '#tab1');
  
      // Handle tab clicks
      $('.nav-tabs a').on('click', function(e) {
        e.preventDefault();
        var targetTab = $(this).attr('href');
        showTab(targetTab);
        
        // Update the URL hash without triggering a page reload
        history.pushState(null, null, targetTab);
      });
  
      // Handle back and forward button clicks
      window.onpopstate = function() {
        showTab(window.location.hash);
      };
  
      function showTab(tabId) {
        loaddata(tabId);
        // Remove active class from all tabs
        $('.nav-tabs .nav-link').removeClass('active');
        // Add active class to the selected tab
        $('.nav-tabs a[href="' + tabId + '"]').addClass('active');
        // Hide all tabs
        $('.tab-content').removeClass('active-tab').hide();
        // Show the selected tab
        $(tabId).addClass('active-tab').show();
      }
  
     
    });
    function loaddata(tabid){
      //Load Data table by clicking button 
      if(tabid==="#comtab"){
     
      }
      if(tabid==="#cattab"){
        loadItemtable();
      }
      if(tabid==="#subctab"){
       
      }
  
    
      //loadmainCatForItem
     
  
    }
  </script>